<ion-list>
  <ion-item lines="none" [disabled]="step1Status" (click)="goToDetail('วัตถุดิบ')">
    <ion-card class="card-view">
      <img src="../assets/food/food1.jpg" height="220" width="280" />
      <ion-item>
        <h3>STEP 1: วัตถุดิบ</h3>
      </ion-item>
      <ion-card-content>
        เลือกวัตถุดิบและปริมาณที่จะใช้ในการปรุงอาหาร
      </ion-card-content>
      <ion-item detail>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item lines="none" [disabled]="step2Status" (click)="goToDetail('เครื่องปรุงรส')">
    <ion-card class="card-view">
      <img src="../assets/food/food2.jpg" height="220" width="280" />
      <ion-item>
        <h3>STEP 2: เครื่องปรุงรส</h3>
      </ion-item>
      <ion-card-content>
        เลือกเครื่องปรุงที่ใช้ในการประกอบอาหาร
      </ion-card-content>
      <ion-item detail>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item lines="none" [disabled]="step3Status">
    <ion-card class="card-view">
      <ion-item>
        <h3>STEP 3: จำนวนผู้รับประทาน</h3>
      </ion-item>
      <ion-card-content>
        ระบุจำนวนผู้รับประทานอาหาร
      </ion-card-content>
      <ion-item>
        <ion-label>ผู้รับประทานจำนวน: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-row justify-content-center>
    <ion-button size="large" [disabled]="enableButton">คำนวณวัตถุดิบ</ion-button>
  </ion-row>
</ion-list>