<div *ngIf="cooking">
  <ion-list>
    <ion-item lines="none" (click)="goToDetail('วัตถุดิบ')" style="margin-right: 10px">
      <ion-card class="card-view" >
        <img src="../assets/food/food1.jpg" height="220" width="280" />
        <ion-item lines="none" color="dark">
          <h3>STEP 1: วัตถุดิบ</h3>
        </ion-item>
        <ion-card-content>
          เลือกวัตถุดิบที่ใช้ประกอบอาหาร
        </ion-card-content>
        <ion-item lines="none" detail>
        </ion-item>
      </ion-card>
    </ion-item>
    <ion-item lines="none" (click)="goToDetail('เครื่องปรุงรส')" style="margin-right: 10px">
      <ion-card class="card-view">
        <img src="../assets/food/food2.jpg" height="220" width="280" />
        <ion-item lines="none" color="dark" >
          <h3>STEP 2: เครื่องปรุงรส</h3>
        </ion-item>
        <ion-card-content>
          เลือกเครื่องปรุงที่ใช้ปรุงอาหาร
        </ion-card-content>
        <ion-item lines="none" detail>
        </ion-item>
      </ion-card>
    </ion-item>
    <ion-item lines="none" style="margin-right: 10px">
      <ion-card class="card-view">
        <ion-item lines="none" color="dark">
          <h3>STEP 3: ผู้รับประทาน</h3>
        </ion-item>
        <ion-item lines="none">
          <ion-label >ผู้รับประทานจำนวน: </ion-label>
          <ion-input type="number" [(ngModel)]="cooking.person" color="medium"></ion-input>
          <ion-label>คน</ion-label>
        </ion-item> 
        <ion-item lines="none" style="margin: 0px;">
          <ion-icon name="save" slot="end" (click)="save(cooking.person)"></ion-icon>
        </ion-item>
      </ion-card>
    </ion-item>
    <ion-row justify-content-center>
      <ion-button size="large" (click)="goToSummary(cooking.username)">คำนวณวัตถุดิบ</ion-button>
    </ion-row>
  </ion-list>
</div>