<ion-list>
  <ion-item>
    <ion-card class="card-view">
      <ion-item>
        <h3>STEP 1: วัตถุดิบ</h3>
      </ion-item>
      <ion-card-content>
        เลือกวัตถุดิบและปริมาณที่จะใช้ในการปรุงอาหาร
      </ion-card-content>
      <ion-item detail>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item>
    <ion-card class="card-view">
      <ion-item>
        <h3>STEP 2: เครื่องปรุงรส</h3>
      </ion-item>
      <ion-card-content>
        เลือกเครื่องปรุงที่ใช้ในการประกอบอาหาร
      </ion-card-content>
      <ion-item detail>
      </ion-item>
    </ion-card>
  </ion-item>
  <ion-item>
    <ion-card class="card-view">
      <ion-item>
        <h3>STEP 3: จำนวนผู้รับประทาน</h3>
      </ion-item>
      <ion-card-content>
        ระบุจำนวนผู้รับประทานอาหาร
      </ion-card-content>

    </ion-card>
  </ion-item>
</ion-list>