.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 210px;
  }
  