<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="header-title">Easy Cooking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()">
        <ion-icon name="contact" style="color: white; font-size: 40px;"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out" style="color: white; font-size: 40px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
  <app-cooking-dashboard></app-cooking-dashboard>
</ion-content>